/* common style start here */
:root{
    ---primary-color:#47c863;
    --secondary-color:rgba(237, 246, 239, 0.984);
    --transition: all 0.3s;
    --border-radious:0.6rem;
    --padding:0.5rem;
    --box-shadow:0.1rem 0.2rem 0.8rem rgba(205,-202,202,0.5);
}

*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

img{
    width: 100%;
    height: auto;
}

.flex-space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn{
    border: none;
    padding:var(--padding);
    cursor: pointer;
    text-transform: uppercase;
    transition: var(--transition);
}
.btn:hover{
    background-color:blueviolet;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    box-shadow: var(--secondary-color);
    border-radius: var(--border-radious);
    transition: var(--transition);
    padding: var(--padding);
}
.card:hover{
    box-shadow: 0.1rem 0.2rem 0.8rem rgba(205,202,202,1);
}

.hr-design{
    margin: 0.5rem;
}

.dot{
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.black{
    background-color: black;
}

/* common style start here */

/*menu Icon*/
#menu-icon{
    display: none;
}

/* Navbar start here */

nav{
    font-size: 1.5rem;
    position: sticky;
    top:0;
    left:0;
    z-index: 100;
}

.nav-upper{
    background-color:var(---primary-color);
    min-height: 5vh;
    padding:1rem;
}

.nav__list{
    transition: var(--transition);
}

.nav__list:hover{
    text-decoration: overline;
    color: black;
}
.nav__link{
    transition: var(--transition);
    color:azure;
    font-weight: bolder;
}
.nav__link:hover{
    color:rgb(5, 5, 5);
}

.profile-icon{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: white 1px solid;
    filter: saturate(0);
    transition: var(--transition);

}
.profile-icon:hover{

    filter: saturate(1);
}

.nav-lower{
    background-color: var(--secondary-color);
    min-height: 5vh;
    padding: 1rem;
    opacity:20;

}

.nav__brand{
    font-size: 2rem;
}
.Lower__nav__link{
    color: blue;
    font-weight: bolder;
}

/* Navbar Ends here */

/* Header Start here */
.header{
    padding: 4rem;
    height: 80vh;
    background:url(./Immage/background.avif);
    background-attachment: fixed;
    background-size: cover;
}

.banner {
    flex-direction: column;
    width: 100%;
    height: 100%;
  
}
.banner__box{
    width: 100%;
}

.banner__title{
    font-size:4rem;
    color:yellow;
    padding: 0.5rem;
    border-radius: var(--border-radious);
}

.features{
    width: 100%;
    cursor: pointer;
}

.feature{
    background-color:var(---primary-color);
    color: white;
    border-radius: var(--border-radious);
    padding: 1rem;
    width: 15rem;
    flex-direction: column;
    gap: 1rem;
}

.fature__icon{
    font-size: 3rem;
}
/* Header Ends here */

/* Main Start here */
main{
    padding: 4rem;
    min-height: 80vh;
}

.sidebar{
    flex: 1;
    padding: var(--padding);
    border-radius: var(--border-radious);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    align-self: flex-start;
}
.main-content{
    flex: 3;
}

.action__ select{
    padding: 0.3rem; 

}
/* Main Ends here */
.action-search input{
    padding: 0.4rem;
    width: 15rem;
}

.action-search .btn{
    margin: -0.4rem;
    padding: 0.5rem;
    border: 1px solid;
}

/* Products start here */
.products{
    display:grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    cursor: pointer;
}

.product{
    position: relative;
}

.badge{
 position:absolute;
 top: 0.5em;
 left: 0rem;
 color: white;
 background-color: green;
 padding: 4px 8px;
 border-radius: var(--border-radious);
 text-align: center;
 z-index: 10;
}

.product__immage{width: 100%;
    height: 15rem;
    filter: saturate(0);
    transition: var(--transition);

}

.product__immage:hover{
    filter: saturate(1);
}


.product__body{
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.show-detail{
    color: green;
    font-weight: 800;
}

.product__button:hover{
    background-color:var(---primary-color);
}

/* Products End here */

/* Pagination Area Start here */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__btn{
    border-width: 1px 1px 1px 0;
    border-style: solid;
}

.pagination__btn:first-child{
    border-width: 1px 1px 1px 1px;
    border-style: solid;
}
/* Pagination Area End here */

/* Product Detait Start Here */
.product-detail-left{
    flex: 1;
}

.product-detail-right{
    flex: 1;
    font-size:x-large;
    display: flex;
    flex-direction: column;

}
.product___detail-img{
    height: 20rem;
    width: 30rem;
}

/* Product Detait End Here */

/* card design start here */
.cart{
    padding: var(--padding);
    gap: 30rem;
}
.cart__item{
    flex: 1;
}
.cart__item-action{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cart__item-img{
    flex: 0.2;
    width: 15rem;
    height: 10rem;

}

.cart__item-description{
    flex: 0.4;
}

.cart__item-shipping{
    color: brown;
    margin-top: 0.5rem;
}

.cart__item-actions{
    flex: 0.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.3rem;
}

.cart__payment{
    flex: 1;
}

.cart__payment-summary>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 ;
}

.cart__payment-btn{
    width: 100%;
}
.cart__payment-methhod h2{
    text-align:  center;
    margin-bottom: 1rem;
}

.cart__payment-methhod>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cart .card{
    margin-bottom: 1rem;
}






/* card design End here */




/*Footer Start Here*/
.footer{
    background-color: var(---primary-color);
    padding: 1rem;
    color: white;
    font-size:1.5rem;
}

.btn-subscribe{
    margin-left: -5px;
    font-size: 0.8rem;
}
.footer__input{
    border: none;
    padding: var(--padding);
    width:20rem;
}
/*Footer Ends Here*/


/* Responsive Area Start */
@media (max-width:992px) {
    .flex-space-around{
        flex-direction:column;
        gap: 1rem;
        padding: 1rem, 0;
    }
    #menu-icon{
        display: block;
        text-align: center;
        margin: 1rem 0;
        cursor: pointer;
    }
    .hidden{
        display: none;
    }
    .header{
        height: 100vh;
    }
    .products{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .cart__item .cart__payment{
        width: 90%;
    }
    


    
    }

    
    @media (max-width:768px) {
        .products{
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
        .flex-center{
            flex-direction:column;
            gap: 1rem;
            padding: 1rem, 0;
        }
    }
    @media (max-width:600px) {
    }
    /* Responsive Area End */